.footer{
    overflow:hidden ;
    background-color: #000;
    padding: 20px 10px;
    position: sticky;
    top: 100%;

}
h1{
    font-size: 20px;
    color: #fff;
    font-weight: bold;

}
p{
    color: #fff;
font-size: 12px;
}
a{
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 17px;
}
a:hover{

    color: var(--primary-color);
}
i{
    padding: 0px 10px;
}