<div class="container mt-5 mb-5">
    <img src="" width="100%" alt="">
    <h1 class="text-center">ABOUT</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quas, explicabo qui cum doloribus voluptatibus recusandae dolore labore odio voluptates esse corrupti laboriosam ipsam quidem eius tempora illo atque natus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem perspiciatis laborum aut obcaecati repudiandae, maiores doloribus! Soluta corporis rem, provident, ex in aliquid, dolore a porro amet dolorem inventore fuga!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eaque ut sed doloremque, expedita magnam voluptate eius cupiditate dignissimos impedit at totam tempore accusamus incidunt quae similique cum autem ipsum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ea sunt beatae quaerat corrupti tempora dolorum quasi magnam ullam obcaecati sequi illo excepturi unde accusantium laboriosam, itaque ex, impedit asperiores?
        <br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, vitae possimus error sunt, culpa ea recusandae impedit reiciendis deserunt temporibus modi optio, saepe deleniti rerum harum ullam aspernatur assumenda animi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic dolore provident corrupti soluta, accusamus voluptates debitis sapiente nisi delectus atque obcaecati eaque possimus? Molestiae quia aliquid unde dolorem corporis?
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas voluptatibus vel minima ipsum doloribus repudiandae minus iste, atque eligendi ex fugit eaque explicabo eveniet velit quae? Eaque repudiandae reprehenderit id?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In at quisquam nulla rem accusantium officiis alias recusandae itaque facere. Facere voluptas impedit nisi omnis odit ab quaerat blanditiis quas et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia optio quis. Similique, fuga vero? Consequuntur labore quisquam voluptatem voluptates non, error veniam impedit quae numquam, voluptatibus culpa sequi. Sapiente?
        <br>

    </p>

</div>